.gallery {
  display: flex;
  flex-flow: row wrap;
  // scroll should always be visible
  min-height: 120vh;
}

.gallery__image {
  box-sizing: border-box;
  padding: 20px;
  flex: 1;
  flex-basis: 33%;
}

//.gallery__image:nth-child(3n + 1) {
//  text-align: left;
//}
//
//.gallery__image:nth-child(3n + 2) {
//  text-align: center;
//}
//
//.gallery__image:nth-child(3n + 3) {
//  text-align: right;
//}